<form id="form__do_hash" method="post" action="/tracks/genre/result/">
  <p>Выберите название жанра трека:</p>
  <p><input type="search" list="character" name="genre_input">
    <datalist id="character">
    {% for opt in option %}
      <option value="{{ opt }}"></option>
    {% endfor %}
    </datalist>
    <input type="submit" value="Искать">
  </p>
</form>


<!--<form id="form__do_hash" method="post" action="/new">-->
<!--            <table ><tr>-->
<!--            <tr><th align="left">Text:</th><th align="left">Genre:</th></tr>-->
<!--                    <select required="25" name="genre">-->
<!--                          {% for opt in option %}-->
<!--                            <option value="{{ opt }}"></option>-->
<!--                          {% endfor %}-->
<!--                    </select>-->

<!--            </tr></table>-->

<!--            <p><input type="submit" value="Generate"></p>-->
<!--</form>-->